body 
  {
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
    background-color: gray;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.div-wrapper
  {
    background-color: #282c34;
    height: 130vh;
  }

  .Top_Nav{
    display: grid;
    grid-template-columns: 200px 400px 200px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    height: 40px;
    padding-top: 20px;
  }

  #Search_Bar{
    border-radius: 15px;
    border: none;
  }

  .Search_Div{
    top: 2%;
    left: 45%;
  }

  .League_Links{
    display: grid;
    grid-template-columns: 100px 100px 100px;
  }

  .League_Route{
    color: white;
    text-decoration: none;
  }

  .Account_Route{
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  
  .Bottom_Nav{
    display: grid;
    grid-template-columns: 700px 200px;
    justify-content: space-between;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #Home_Header{
    text-decoration: none;
    color: white;
    font-size: 60px;
    font-weight: 700;
  }

  .SignIn{
    background-color: #282c34;
    text-decoration: none;
    color: white;
    border: none;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
  }

 .NBA_Container{
  display: grid;
  grid-template-columns: 400px 700px;
  justify-content:space-evenly;
  text-align: center;
 }
 .NBA_Team_Player{
  border: solid 4px white;
  border-radius: 15px;
  height: 650px;
  padding: 10px;
  background-color: gray;
  text-align: left;
 }
 .NBA_Highlights{
  border: solid 4px white;
  border-radius: 15px;
  height: 650px;
  padding: 10px;
  background-color: gray;
 }
 .NBA_Header{
  text-align: left;
  margin-left: 50px;
 }
 .NBA_Page{
  padding: 10px;
 }



#NFLTitle{
  text-align: left;
  margin-left: 10%;
}

#NFLInfo
{
  text-align: left;
}

#NFLVideoBox{
  border-style: solid;
  text-align: center;
}

#NFLTeamsPlayers
{
 border-style: solid;
 text-align: left;
}

#NFLInlayed
{
  display: grid;
  grid-template-columns: 400px 500px;
  justify-content:space-evenly;
}

#NFLSpaceingz{
  margin-left: 10%;
}



.AccountCreation{
border-style: solid;
background-color: gray;
margin-top: 2%;
margin-left: 25%;
margin-right: 25%;
}
.AccountForm{
  text-align: left;
  margin-left: 30%;
}
.AccountInput{
  width: 50%;
}


#AccountTitle{
  text-align: left;
  margin-left: 2%;
}
#AccountPageSpacing{
  display: grid;
  grid-template-columns: 400px 700px;
  justify-content:space-evenly;
}

#AccountImage{
  border-style: solid;
  border-radius: 50%;
  background-color: lightblue;
  margin-top: 10%;
  padding-bottom: 20%;
}
#ImageName{
  Color: blue;
  margin-top: 20%;
}

#AccFN{
margin-top: 8%;
}
#AccLN{
  margin-top: 15%;
}
#Emailz{
  margin-top: 15%;
}
#PassAndWords{
  margin-top: 20%;
}


#AccountInfomation{
  text-align: left;
  border-style: solid;
  margin-right: 35%;
}

#AccountPageForms{
margin-left: 2%;
}



#NHL-Title{
  text-align: left;
  margin-left: 3em;
}
#NFL-Title{
  text-align: left;
  margin-left: 3em;
}


#NHL-Title1{
  text-align: left;
  margin-top: -0.4em;
}
#NFL-Title1{
  text-align: left;
  margin-top: -0.4em;
}

#NHL-Title2{
  margin-bottom: -0.05em;
}
#NFL-Title2{
  margin-bottom: -0.05em;
}

#NHL-Left{
  width: 30em;
  height: 32em;
  padding: 0.5em;
  margin-top: 3em;
  margin-left: 2em;
  text-align: left;
  border: 3px solid gray;
  float: left;
}
#NFL-Left{
  width: 30em;
  height: 34em;
  padding: 0.5em;
  margin-top: 3em;
  margin-left: 2em;
  text-align: left;
  border: 3px solid gray;
  float: left;
}


#NHL-Left-News{
  width: 22em;
  height: 12em;
  margin: auto;
  margin-left: 10%;
  background-color: gray;
}
#NFL-Left-News{
  width: 22em;
  height: 12em;
  margin: auto;
  margin-left: 10%;
  background-color: gray;
}

 #Sports-Left-News{
   width: 22em;
   height: 12em;
   margin: auto;
   background-color: gray;
 }

 #NHL-Left-Text{
   width: 26em;
   height: 15em;
   margin: auto;
   font-size: small;
   color: lightgray;
 }
 #NFL-Left-Text{
  width: 26em;
  height: 15em;
  margin: auto;
  font-size: small;
  color: lightgray;
  padding-bottom: 20%;
}

 #Home-Sports-Bottom-Text{
   margin-top: 9em;
   text-align: center;
   font-weight: bold;
   text-decoration: underline;
   font-size: 0.7em;
   color: white;
 }



 #NHL-Right{
  width: 45em;
  height: 32em;
  padding: 0.5em;
  margin-top: 3em;
  margin-right: 2em;
  border: 3px solid gray;
  float: right;
 }
 #NFL-Right{
  width: 45em;
  height: 32em;
  padding: 0.5em;
  margin-top: 3em;
  margin-right: 2em;
  border: 3px solid gray;
  float: right;
 }

 #NHL-Right-Scoreboard{
   width: 15em;
   margin-top: 4em;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   border: 1px solid white;
 }
 #NFL-Right-Scoreboard{
  width: 15em;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid white;
}

 #NHL-Right-Game{
    width: 10em;
    margin-top: 0.5em;
    margin-left: 2em;
    float: left;
 }
 #NFL-Right-Game{
  width: 10em;
  margin-top: 0.5em;
  margin-left: 2em;
  float: left;
}

 #NHL-Game-Score{
   width: 100%;
   height: 6em;
   margin-top: -1.5em;
   margin-left: 0.5em;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
 }
 #NFL-Game-Score{
  width: 100%;
  height: 6em;
  margin-top: -1.5em;
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

 #NHL-Score-Text-Top{
  margin-top: -0.5em;
 font-size: 0.6em;
}
#NFL-Score-Text-Top{
  margin-top: -0.5em;
 font-size: 0.6em;
}
 #NHL-Score-Text{
  margin-top: -2em;
  font-size: 0.6em;
 }
 #NFL-Score-Text{
  margin-top: -2em;
  font-size: 0.6em;
 }


#NHL-Right-Table{
  float: right;
  width:28em;
  margin-top: -26em;
}
#NFL-Right-Table{
  float: right;
  width:28em;
  margin-top: -26em;
}

#NHL-Table-West{
  text-align: left;
  float: left;
}
#NFL-Table-West{
  text-align: left;
  float: left;
}

#NHL-Table-East{
  text-align: left;
  float: right;
}
#NFL-Table-East{
  text-align: left;
  float: right;
}

table{
  border: 1px solid white;
}

td{
  border: 1px solid white;
  font-size: small;
  text-align: center;
  padding: 0.3em;
}

th{
  border: 1px solid white;
  font-weight: bold;
  text-align: center;
  padding: 0.3em;
}

#NHL-Player-Top{
  width: 14em;
  text-align: left;
  margin-top: 2em;
}

#NHL-Amount{
  margin-bottom: 2em;  
  font-size: small;
}
#NHL-Title-Amount{
  margin-top: -0.45em;
}

#NHL-Box{
  width: 2em;
  height: 3em;
  text-align: center;
  border: 1px solid gray;
  padding: 0.5em;
}

#NHL-Box-Set{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#NHL-Player-Mini{
  font-size: 0.6em;
  margin-bottom: -2.2em;
}

#NHL-Player-Mini1{
  font-size: 0.6em;
  margin-bottom: -0.05em;
}

#NHL-Player-Name{
  margin-bottom: -0.5em;
}

#NHL-Bottom-News{
  margin-top: 16em;
}
#NFL-Bottom-News{
  margin-top: 16em;
}

#NHL-Bottom-News1{
  margin-left: -8em;
}

#NHL-Tag-Box{
  margin-left: 4.5em;
  margin-top: -5.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#NFL-Tag-Box{
  margin-left: 4.5em;
  margin-top: -5.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#NHL-Tag-Box1{
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#NFL-Tag-Box1{
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#NHL-Tag{
  font-size: 0.6em;
  margin-left: 0.5em;
}
#NFL-Tag{
  font-size: 0.6em;
  margin-left: 0.5em;
}

#NHL-Right-Top5{
  width: 15em;
  text-align: left;
  float: right;
  margin-right: 2em;
}
#NHL-Top-Players{
  margin-bottom: -0.01em;
}

#NHL-Right-Topplay{
  margin-left: 2em;
  float: left;
}

#NHL-Inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#NFL-Inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.toTeam{
  font-size: medium;
  font-weight: bold;
}
.toTeam:visited{
  color: white;
}
.toTeam:hover{
  color: red;
}

.toPlayer{
  font-size: medium;
  font-weight: bold;
}
.toPlayer:visited{
  color: white;
}
.toPlayer:hover{
  color: red;
}

.League_Route:hover{
  color:red;
}

.League_Links:hover{
  color: red;
}




#Inlayed
{
  display: grid;
  grid-template-columns: 600px 600px;
  margin-left: 15%;
  text-align: center;
}
#HomeLeft-Tag{
  font-size: 0.6em;
  margin-left: 0.5em;
  text-decoration: none;
  color: white;
}



#HomePageRight{
  width: 36em;
  height: 29.6em;
  display: flex;
  flex-direction: row;
}

#News-Artical{
  width: 16em;
  height: 16em;
  margin: 1em;
}

#News-Artical-Bottom{
  width: 16em;
  height: 16em;
  margin: 1em;
  margin-top: -2em;
}

#Artical-Title{
 margin-top: -0.01em;
 text-decoration: underline;
}

#Artical-Image{
  width: 16em;
  height: 10em;
  background-color: gray;
}

#New-Tag-Box{
  margin-top: -1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#New-Tag{
  font-size: 0.6em;
  margin-left: 0.5em;
  text-decoration: none;
  color: white;
}

#select-my-team{
  display: flex;
  flex-direction: row;
}







#NFLNext3GamesTitle{
  margin-bottom: 0%;
  margin-top: 7%;
}
#NFLNext3GamesTitle:hover{
  color: red;
  text-shadow: #282c34;
}

#NFLGameInfoBox{
  border-style: solid;
  border-color: rgb(174, 174, 174);
  padding-bottom: 50%;
  margin-left: 3%;
  margin-right: 3%;
}

#NFLGameTimesTitle{
  text-align: left;
  float: left;
  padding-left: 5%;
  margin-right: 10%;
}

#NFLGameLocationTitle{
  text-align: left;
  float: left;
  margin-right:10%;
}

#NFLHomeTeamTitle{
  text-align: left;
  float: left;
  margin-right:  10%;
}

#NFLAwayTeamTitle{
  text-align: left;
  float: left;
}

#NFLGameTimes{
  text-align: left;
  float: left;
  border-style: solid;
  margin-right: 4%;
  padding: 0.5%;
}

#NFLGamesLocation{
  text-align: left;
  float: left;
  border-style: solid;
  margin-right: 4%;
  padding: 0.5%;
}

#NFLHomeTeam{
  text-align: left;
  float: left;
  border-style: solid;
  margin-right: 4%;
  padding: 0.5%;
}

#NFLAwayTeam{
  text-align: left;
  float: left;
  border-style: solid;
  padding: 0.5%;
}