body 
  {
    color: white;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
    background-color: gray;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.div-wrapper
  {
    background-color: #282c34;
    height: 100vh;

  }
  .Top_Nav{
    display: grid;
    grid-template-columns: 200px 400px 200px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
  }
  #Search_Bar{
    width: 400px;
    height: 30px;
    border-radius: 15px;
  }

  .League_Links{
    display: grid;
    grid-template-columns: 100px 100px 100px;
  }
  .League_Route{
    color: white;
    text-decoration: none;
  }
  .Bottom_Nav{
    display: grid;
    grid-template-columns: 700px 200px;
    justify-content: space-between;
    background-color: blue;
  }
  #Home_Header{
    text-decoration: none;
    color: white;
    font-size: 60px;
    font-weight: 700;
  }
  #SignIn{
    background-color: #282c34;
    color: white;
    border: none;
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    width: 100px;
    height: 35px;
  }

 .NBA_Container{
  display: grid;
  grid-template-columns: 400px 700px;
  justify-content:space-evenly;
  text-align: center;
 }
 .NBA_Team_Player{
  border: solid 4px white;
  border-radius: 15px;
  height: 650px;
  padding: 10px;
  background-color: gray;
  text-align: left;
 }
 .NBA_Highlights{
  border: solid 4px white;
  border-radius: 15px;
  height: 650px;
  padding: 10px;
  background-color: gray;
 }
 .NBA_Header{
  text-align: left;
  margin-left: 50px;
 }
 .NBA_Page{
  padding: 10px;
 }






#Title{
  text-align: left;
  margin-left: 10%;
}

#NFLInfo
{
  text-align: left;
}

#TeamsPlayers
{
 border-style: solid;
}

#Inlayed
{
  display: grid;
  grid-template-columns: 400px 500px;
  justify-content:space-evenly;
 }


 #TeamsPlayers{
  text-align: left;
}


#Spaceingz{
  margin-left: 10%;
}


#HomePageRight{
  border-style: solid;
}












.AccountCreation{
border-style: solid;
background-color: gray;
margin-top: 2%;
margin-left: 25%;
margin-right: 25%;
}
.AccountForm{
  text-align: left;
  margin-left: 30%;
}
.AccountInput{
  width: 50%;
}